form,
.booking__title{
    max-width: 400px;
    margin: 0 auto;
}

.booking__title{
    margin-bottom: 1rem;
}

form{
    margin-bottom: 4rem;
    padding: 0 1rem;
}

.booking__title h1{
    color: var(--primary-color-2);
    text-align: center;
    font-size: 2rem;
}

label{
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--primary-color-2);
}

input,
select{
    width: 100%;
    padding: 0.8rem;
    border-radius: 6px;
    border: 1px solid var(--secondary-color-3);
    outline: none;
    color: var(--primary-color-2);
    font-family: var(--secondary-font);
}

.choose__date,
.choose__time,
.number__guests,
.occasion{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

#occasion,
#res-time{
    border: none;
    cursor: pointer;
}

.submit__btn{
    width: 100%;
    background-color: var(--primary-color-1);
    color: var(--primary-color-2);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: 0.3s all;
}

.submit__btn:hover{
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
}

.field__error{
    font-size: 0.8rem;
    color: red;
    margin-top: 0.2rem;
}