/* HEADER STYLING STARTS */
header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}
 
.header{
     max-width: 887px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     padding: 1rem;
}
 
.header img{
     width: 160px;
}
 
.navbar{
     display: flex;
     gap: 28px;
}
 
.menu-link{
     text-decoration: none;
     color: var(--secondary-color-4);
     font-family: var(--secondary-font);
     font-weight: 500;
     font-size: 18px;
}
 
#open__close__btn{
     display: none;
     font-size: 1.5rem;
     cursor: pointer;
}
 
@media screen and (max-width: 840px) {
    #open__close__btn{
        display: block;
    }

    .navbar{
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: -100%;
        background-color: #fff;
        width: 80%;
        height: 100vh;
        align-items: center;
        padding-top: 5rem;
        font-size: 24px;
        transition: 0.5s all;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
    }

    .navbar.active{
        right: 0px;
        opacity: 1;
        visibility: visible;
    }
}
 
 /* HEADER STYLING ENDS */