.booking__page{
    border-bottom: 1px solid var(--secondary-color-3);
}

.restaurant__image{
    max-width: 887px;
    height: 300px;
    margin: 0 auto 1rem;
}

.restaurant__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}